<div class="main-content">
<div class="container-fluid">
    <div class="container">
  
        <ul class="slider">
          <li id="slide1">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/car.jpg"/>
          </li>
          <li id="slide2">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg"/>
          </li>
          <li id="slide3">
            <h1>Ejemplo con otros elementos</h1>
            <p>Esto es un párrafo de ejemplo para comprobar que podemos meter cualquier tipo de elementos en el slider</p>
            <a href="https://kikopalomares.com/">¡Corre a mi web para más contenido!</a>
          </li>
        </ul>
        
        <ul class="menu">
          <li>
            <a href="#slide1">1</a>
          </li>
          <li>
            <a href="#slide2">2</a>
          </li>
           <li>
            <a href="#slide3">3</a>
          </li>
        </ul>
        
      </div>
      <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 23rem;">
                    <img src="../img/cpu.jpg" class="card-img-top" height="300px">
                    <div class="card-body">
                        <h2>CPU GAMER</h2>
                        <p class="card-text">AMD RYZEN 3600, DISCO DURO: 240GB,
                          16GB RAM, BOARD GIGABYTE B450 DS3H
GRAFICOS GEFORCE 1030 2 GB
<br>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 23rem;">
                    <img src="../img/tarjeta.jpg" class="card-img-top" alt="..." height="300px">
                    <div class="card-body">
                        <h2>TARJETA GRAFICAS</h2>
                        <p class="card-text">la tarjeta de video sirve para que puedas disfrutar a 
                          lo grande de todos tus videojuegos, así como para utilizar aplicaciones para editar fotografías o videos 
                          <br>
                      
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 23rem;">
                    <img src="../img/mouse.jpg" class="card-img-top" height="300px">
                    <div class="card-body">
                        <h2>ACCESORIOS</h2>
                        <p class="card-text">Los accesorios ter permitiran una mayor usabilidad con tu PC, contamos con mouse, teclados,
                          tarjetas graficas, diademas
                          <br>
                       

                        </p>
                    </div>
                </div>
            </div>
        </div>

               

            </div>
  </div>
</div>
