<div class="main-content">


    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title mt-0"> Edita tú información</h4>

            </div>
            <div class="card-body">
                <div class="table-responsive">


                
                
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Usaurio
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Correo
                            </th>
                            <th>
                                Clave
                            </th>
                            <th>
                                Dirección
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Editar
                            </th>
                            <th>
                                Eliminar
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userList">
                                <td>
                                    {{user.usuario}}
                                </td>
                                <td>
                                    {{user.nombre}}
                                </td>
                                <td>
                                    {{user.correo}}
                                </td>
                                <td>
                                    {{user.clave}}
                                </td>
                                <td>
                                    {{user.direccion}}
                                </td>
                                <td>
                                    {{user.telefono}}
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<h2>No funciona</h2>
<!--
    <table mat-table [dataSource]="userList" class="mat-elevation-z8">
        
    </table>

-->
    <div *ngIf="editableUser">
        <h2>Editar User</h2>
        <form (ngSubmit)="updateUserEntry()" [formGroup]="userForm">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usaurio" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="correo" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Clave</mat-label>
                <input matInput formControlName="clave" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion" required>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono" required>
            </mat-form-field>

            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>

</div>
